---
name: Neovim
on:
  pull_request:
    paths-ignore:
      - "*.md"
      - ".github/**"
      - "extras/**"
      - ".editorconfig"
      - ".gitignore"
  push:
    paths-ignore:
      - "*.md"
      - ".github/**"
      - "extras/**"
      - ".editorconfig"
      - ".gitignore"
    branches:
      - main

jobs:
  ubuntu:
    name: Ubuntu
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Install Neovim
        uses: MunifTanjim/setup-neovim-action@v1
      - name: Run tests
        run: |
          ./run-tests.sh
  macos:
    name: Macos
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v5
      - name: Install Neovim
        run: |
          wget -q https://github.com/neovim/neovim/releases/download/nightly/nvim-macos-x86_64.tar.gz
          xattr -c ./nvim-macos-x86_64.tar.gz
          tar xzvf nvim-macos-x86_64.tar.gz &> /dev/null
          ln -s $(pwd)/nvim-macos-x86_64/bin/nvim /usr/local/bin/nvim
      - name: Run tests
        run: |
          ./run-tests.sh
